.main-container {
  width: 100vw;
  height: 100vh;

  background-image: url("../../../../assets/pexels-belle-co-1000444.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  .table {
    padding-top: 20px;
    width: 55%;
    background: linear-gradient(
      45deg,
      rgb(235, 182, 118),
      rgb(194, 189, 184) 60%
    );
    opacity: 0.9;
    box-shadow: 5px 5px 30px grey;

    button {
      font-size: medium;
      font-weight: bolder;
      border: 1px solid black;
    }
  }

  .mat-column-name {
    font-style: italic;
  }

  .empty-list {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(
      45deg,
      rgb(235, 182, 118),
      rgb(133, 126, 120) 60%
    );
    box-shadow: 5px 5px 30px grey;
    opacity: 0.9;

    button {
      font-size: large;
      font-weight: bolder;
      border: 1px solid black;
    }
  }
}
