<div class="main-container">
  <table
    *ngIf="friendList.length > 0"
    mat-table
    [dataSource]="friendList"
    class="mat-elevation-z8 table"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name | titlecase }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef>Comment</th>
      <td mat-cell *matCellDef="let element">
        {{ element.comment | titlecase }}
      </td>
    </ng-container>
    <ng-container matColumnDef="favFood">
      <th mat-header-cell *matHeaderCellDef>Favorite food</th>
      <td mat-cell *matCellDef="let element">
        {{ element.favFood | titlecase }}
      </td>
    </ng-container>
    <ng-container matColumnDef="relationshipStatus">
      <th mat-header-cell *matHeaderCellDef>Relationship status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.relationshipStatus | titlecase }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          (click)="navigateToView(element.id)"
          matTooltip="View"
          class="icon"
          >portrait</mat-icon
        >
        <mat-icon
          (click)="navigateToEdit(element.id)"
          matTooltip="Edit"
          class="icon"
          >mode_edit</mat-icon
        >
        <mat-icon
          (click)="deleteFriend(element.id)"
          matTooltip="Delete"
          class="icon"
        >
          delete_sweep</mat-icon
        >
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
  <div *ngIf="friendList.length === 0" class="empty-list">
    <h1>Please add your first friend! :)</h1>
    <br />
    <mat-icon routerLink="/main/add" matTooltip="Add" class="icon"
      >add</mat-icon
    >
  </div>
</div>
