<div class="main-container">
  <table
    *ngIf="friendList.length > 0"
    mat-table
    [dataSource]="friendList"
    class="mat-elevation-z8 table"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name | titlecase }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef>Comment</th>
      <td mat-cell *matCellDef="let element">
        {{ element.comment | titlecase }}
      </td>
    </ng-container>
    <ng-container matColumnDef="favFood">
      <th mat-header-cell *matHeaderCellDef>Favorite food</th>
      <td mat-cell *matCellDef="let element">
        {{ element.favFood | titlecase }}
      </td>
    </ng-container>
    <ng-container matColumnDef="relationshipStatus">
      <th mat-header-cell *matHeaderCellDef>Relationship status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.relationshipStatus | titlecase }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button>VIEW</button>
        <button
          (click)="addFriendIToQueryParams(element.id)"
          mat-stroked-button
        >
          EDIT
        </button>
        <button (click)="deleteFriend(element.id)" mat-stroked-button>
          DELETE
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
  <div *ngIf="friendList.length === 0" class="empty-list">
    <h1>Please add your first friend! :)</h1>
    <br />
    <button routerLink="/main/add" mat-stroked-button>Let's do it!</button>
  </div>
</div>
