.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("../../../../assets/pexels-belle-co-1000444.jpg");
  background-size: cover;
  background-position: center;

  .form-container {
    width: 30%;
    height: 55%;
    padding-top: 30px;
    background: linear-gradient(
      45deg,
      rgb(235, 182, 118),
      rgb(194, 189, 184) 60%
    );
    border-radius: 20px;
    box-shadow: 5px 5px 30px grey;
    opacity: 0.9;
    display: flex;
    align-items: center;
    flex-direction: column;

    .field {
      width: 100%;
      height: 18%;

      .label {
        color: black;
        font-weight: bolder;
      }
    }

    .button-container {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      button {
        font-size: large;
        font-weight: bolder;
        border: 1px solid black;

        margin-top: 30px;
      }
    }
  }
}
