.header {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  opacity: 0.7;

  background: linear-gradient(
    45deg,
    rgb(235, 182, 118),
    rgb(133, 126, 120) 60%
  );

  .settings {
    display: flex;
    color: black;
  }

  .settings > button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    margin-right: 30px;
    font-weight: bolder;
    cursor: pointer;
  }
}
