* {
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    padding-top: 20px;
    width: 20vw;
    height: 55vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 30px grey;
    opacity: 0.9;
    background: linear-gradient(
      45deg,
      rgb(235, 182, 118),
      rgb(194, 189, 184) 60%
    );

    .img-container {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .details {
      padding-top: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .actions {
      width: 80%;
      height: 20%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .icon {
        cursor: pointer;
        transform: scale(2);
      }
      .icon:hover {
        transform: scale(3);
      }
    }
  }
}
