<div class="main-container">
  <div class="card">
    <div class="img-container">
      <img
        src="../../../../assets/pexels-thgusstavo-santana-1933873.jpg"
        alt=""
      />
    </div>
    <div class="details">
      <h1>Lorem ipsum dolor sit amet</h1>
      <h2>Lorem, ipsum dolor.</h2>
      <h4>Lorem ipsum dolor sit amet.</h4>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="actions">
      <mat-icon class="icon">person_add</mat-icon>
      <br />
      <mat-icon class="icon">keyboard_return</mat-icon>
    </div>
  </div>
</div>
