<div class="main-container">
  <div class="card">
    <div class="img-container">
      <img src="../../../../assets/Screenshot_30.png" alt="" />
    </div>
    <div *ngIf="friendDetails" class="details">
      <h1>{{ friendDetails.name }}</h1>
      <h2>{{ friendDetails.email }}</h2>
      <h4>{{ friendDetails.comment }}</h4>
      <p>Favorite Food: {{ friendDetails.favFood }}</p>
    </div>
    <div class="actions">
      <mat-icon matTooltip="Back to list" routerLink="/main/list" class="icon"
        >keyboard_return</mat-icon
      >
    </div>
  </div>
</div>
