<div class="main-container">
  <div class="card">
    <div class="img-container">
      <img
        src="../../../../assets/pexels-thgusstavo-santana-1933873.jpg"
        alt=""
      />
    </div>
    <div class="details">
      <h1>{{ friendDetails.name }}</h1>
      <h2>{{ friendDetails.email }}</h2>
      <h4>{{ friendDetails.comment }}</h4>
      <p>Favorite Food: {{ friendDetails.favFood }}</p>
    </div>
    <div class="actions">
      <mat-icon
        *ngIf="
          friendDetails.relationshipStatus === 1 ||
          friendDetails.relationshipStatus === 2
        "
        class="icon"
        >person_add</mat-icon
      >
      <br />
      <mat-icon routerLink="/main/list" class="icon">keyboard_return</mat-icon>
    </div>
  </div>
</div>
